<div class="write">
  <img *ngIf="url" class="write-img" [src]="url" alt="write-banner">
  <form class="write-form"
        [formGroup]="uploadPostForm"
        (ngSubmit)="onSubmit()"
  >
    <div class="write-form-group">
      <label for="file-input">
        <i class="write-icon fas fa-plus"></i>
      </label>
      <input
        type="file"
        id="file-input"
        [ngStyle]="{display: 'none'}"
        formControlName="imgFile"
        (change)="onFileSelect($event)"
      >
      <input
        placeholder="Title"
        class="write-input"
        [autofocus]="true"
        formControlName="title"
      >
    </div>
    <div class="write-form-group">
<!--      <textarea-->
<!--          placeholder="Tell your story..."-->
<!--          class="write-input write-text"-->
<!--          [autofocus]="true"-->
<!--          formControlName="description"-->
<!--      ></textarea>-->
      <angular-editor
        [placeholder]="'Tell your story...'"
        formControlName="description"
        [config]="config"
      ></angular-editor>
    </div>
    <button
      class="write-submit"
      [disabled]="uploadPostForm.invalid"
      type="submit"
    >
      Publish
    </button>
  </form>
</div>


<div [innerHTML]="yourHtmlContent"></div>

