<div class="write">
  <img class="write-img" src="assets/unseen-studio-unsplash.jpg" alt="write-banner">
  <form class="write-form">
    <div class="write-form-group">
      <label for="file-input">
        <i class="write-icon fas fa-plus"></i>
      </label>
      <input type="file" id="file-input" [ngStyle]="{display: 'none'}">
      <input placeholder="Title" class="write-input" [autofocus]="true">
    </div>
    <div class="write-form-group">
      <textarea
          placeholder="Tell your story..."
          class="write-input write-text"
          [autofocus]="true"
      ></textarea>
    </div>
    <button class="write-submit">Publish</button>
  </form>
</div>
