<div class="single-post">
  <div class="single-post-wrapper">
    <img
      src="assets/markus-winkler-aId-unsplash.jpg"
      alt="single--post-logo"
      class="single-post-img"
    >
    <h1 class="single-post-title">
     {{post.title}}

      <div class="single-post-edit">
        <i class="single-post-icon far fa-edit"></i>
        <i class="single-post-icon far fa-trash-alt"></i>
      </div>
    </h1>

    <div class="single-post-info">
      <span class="single-post-author">Author: <b><a [routerLink]="['/']" [queryParams]="{user: post.username}">{{post.username}}</a></b></span>
      <span class="single-post-date">{{post.createdAt | date}}</span>
    </div>
    <div class="single-post-desc">
      <p>{{post.desc}}</p>
    </div>
  </div>
</div>
