<div class="navbar">
  <div class="left">
    <i class="icon fa-brands fa-facebook"></i>
    <i class="icon fa-brands fa-twitter"></i>
    <i class="icon fa-brands fa-pinterest"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <div class="center">
    <ul class="list">
      <li><a href="">HOME</a></li>
      <li><a href="">ABOUT</a></li>
      <li><a href="">CONTACT</a></li>
      <li><a href="">WRITE</a></li>
      <li><a *ngIf="isLoggedIn$ | async">LOGIN</a></li>
      <li><a *ngIf="isLoggedOut$ | async" (click)="logout()">LOGOUT</a></li>
    </ul>
  </div>
  <div class="right">
    <img class="right-image" src="https://images.pexels.com/photos/1858175/pexels-photo-1858175.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500" alt="">
    <i class="search-icon fa-solid fa-magnifying-glass"></i>
  </div>
</div>
