<div class="navbar">
  <div class="left">
    <i class="icon fa-brands fa-facebook"></i>
    <i class="icon fa-brands fa-twitter"></i>
    <i class="icon fa-brands fa-pinterest"></i>
    <i class="fa-brands fa-instagram"></i>
  </div>
  <div class="center">
    <ul class="list">
      <li><a routerLink="home">HOME</a></li>
      <li><a>ABOUT</a></li>
      <li><a>CONTACT</a></li>
      <li><a routerLink="write">WRITE</a></li>
      <li><a *ngIf="isLoggedIn$ | async" (click)="logout()">LOGOUT</a></li>
    </ul>
  </div>
  <div class="right" *ngIf="user$ | async as user">
    <img class="right-image" [src]="'http://localhost:3000/images/' + user.profilePic" alt=""  [routerLink]="['/setting']">
    <i class="search-icon fa-solid fa-magnifying-glass"></i>
  </div>
</div>


<!-- Simulate a smartphone / tablet -->
<div class="mobile-container">

  <!-- Top Navigation Menu -->
  <div class="topnav">
    <div #myLinks id="myLinks">
      <a (click)="toggleMyLinks()" routerLink="home">HOME</a>
      <a (click)="toggleMyLinks()">CONTACT</a>
      <a (click)="toggleMyLinks()" routerLink="write">WRITE</a>
      <a *ngIf="isLoggedIn$ | async" (click)="logout();toggleMyLinks()">LOGOUT</a>
    </div>
    <a class="icon" (click)="toggleMyLinks()">
      <i class="fa fa-bars"></i>
    </a>
  </div>
</div>




