<div class="settings" *ngIf="userSettingData">
  <div class="settings-wrapper">
      <div class="settings-title">
        <span class="settings-update-title">Update Your Account</span>
        <span class="settings-delete-title">Delete Account</span>
      </div>
    <form class="settings-form" [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">
        <label>Profile picture</label>
      <div class="settings-pp">
        <img
          [src]="'http://localhost:3000/images/' + userSettingData.profilePic"
          alt=""
        >
        <label for="file-input">
          <i class="settings-pp-icon far fa-user-circle"></i>
        </label>
        <input type="file" id="file-input" [ngStyle]="{display: 'none'}" (change)="onFileSelect($event)">
      </div>
      <label>Username</label>
      <input type="text" [placeholder]="userSettingData.username" formControlName="username">
      <label>Email</label>
      <input type="text" [placeholder]="userSettingData.email" formControlName="email">
      <label>Password</label>
      <input type="password" formControlName="password">

      <button class="settings-submit">Update</button>
    </form>
  </div>
  <div class="settings-sidebar">
    <app-sidebar></app-sidebar>
  </div>
</div>
