<div class="register">
  <span class="register-title">Register</span>
  <form class="register-form">
    <label>Username</label>
    <input type="text" class="register-input" placeholder="Enter your username...">
    <label>Email</label>
    <input type="text" class="register-input" placeholder="Enter your email...">
    <label>Password</label>
    <input type="text" class="register-input" placeholder="Enter your password...">
    <button class="register-button">Register</button>
  </form>
  <button class="register-login" [routerLink]="['/login']">Login</button>
</div>
