<div class="sidebar">
  <div class="sidebar-item">
    <span class="sidebar-title">ABOUT ME</span>
    <img
      src="assets/delivery.jpg"
      alt=""
    />
    <p>
      Laboris sunt aute cupidatat velit magna velit ullamco dolore mollit
      amet ex esse.Sunt eu ut nostrud id quis proident.
    </p>
  </div>
  <div class="sidebar-item">
    <span class="sidebar-title">CATEGORIES</span>
    <ul class="sidebar-list">
      <li class="sidebar-list-item" *ngFor="let category of categories$ | async">{{category.name}}</li>
    </ul>
  </div>
  <div class="sidebar-item">
    <span class="sidebar-title">FOLLOW US</span>
    <div class="sidebar-social">
      <i class="sidebar-icon fa-brands fa-facebook"></i>
      <i class="sidebar-icon fa-brands fa-twitter"></i>
      <i class="sidebar-icon fa-brands fa-pinterest"></i>
      <i class="sidebar-icon fa-brands fa-instagram"></i>
    </div>
  </div>
</div>
