<div class="login">
  <span class="login-title">Login</span>
  <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login()">
    <label>Username</label>
    <input
      class="login-input"
      placeholder="Enter your name..."
      formControlName="username"
    >
    <label>Password</label>
    <input
      class="login-input"
      type="password"
      placeholder="Enter your password..."
      formControlName="password"
    >
    <button
      class="login-button"
      type="submit"
      [disabled]="loginForm.invalid"
    >
      Login
    </button>
  </form>
  <div class="fixed-space">
    <p [style.color]="'red'">{{this.errorMessage}}</p>
  </div>

  <button class="login-register" [routerLink]="['/register']">Register</button>
</div>
