<div class="post-list">
  <div class="post" *ngFor="let post of posts">
    <img class="post-img" [src]="'http://localhost:3000/images/' + post.imgname" alt="">
    <div class="post-info">
      <div class="post-cats" *ngIf="post.categories.length > 0;else noCategories">
        <span class="post-cat" *ngFor="let category of post.categories">{{category}}</span>
      </div>
      <span class="post-title">
        <a [routerLink]="['/post/' + post._id]">{{post?.title}}</a>
      </span>
      <hr>
      <span class="post-date">{{post?.createdAt | date}}</span>
    </div>
    <div class="post-desc">
      <p [innerHTML]="post.desc | safe:'html'"></p>
    </div>
  </div>
</div>

<ng-template #noCategories>
  <div class="post-cats">
    <span class="post-cat">No categories</span>
  </div>
</ng-template>
