<div class="post">
  <img class="post-img" src="assets/absolutvision-unsplash.jpg" alt="">
  <div class="post-info">
    <div class="post-cats">
      <span class="post-cat">Music</span>
      <span class="post-cat">Life</span>
    </div>
    <span class="post-title">
      Lorem ipsum dolor sit amet
    </span>
    <hr>
    <span class="post-date">1 hour ago</span>
  </div>
  <div class="post-desc">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deserunt, distinctio doloremque esse eum expedita laudantium nobis odit optio, placeat porro quidem similique ullam vel voluptates. Dolorem impedit pariatur repudiandae sequi! Aliquam autem deserunt dolorem eveniet expedita id quam qui quibusdam, quod reprehenderit.
      Aspernatur beatae ea, hic inventore molestias praesentium.</p>
  </div>
</div>
