<!--<div class="post-list">-->
<!--  <div class="post" *ngFor="let post of posts">-->
<!--    <img class="post-img" [src]="'http://localhost:3000/images/' + post.imgname" alt="">-->
<!--    <div class="post-info">-->
<!--      <div class="post-cats" *ngIf="post.categories.length > 0;else noCategories">-->
<!--        <span class="post-cat" *ngFor="let category of post.categories">{{category}}</span>-->
<!--      </div>-->
<!--      <span class="post-title">-->
<!--        <a [routerLink]="['/post/' + post._id]">{{post?.title}}</a>-->
<!--      </span>-->
<!--      <hr>-->
<!--      <span class="post-date">{{post?.createdAt | date}}</span>-->
<!--    </div>-->
<!--    <div class="post-desc">-->
<!--      <p [innerHTML]="post.desc | safe:'html'"></p>-->
<!--    </div>-->
<!--  </div>-->
<!--</div>-->


<div class="container d-flex">
  <div class="d-flex flex-wrap justify-content-center">
    <div class="card post m-5"  *ngFor="let post of posts">
      <img class="post-img" [src]="'http://localhost:3000/images/' + post.imgname" alt="">
      <div class="card-body">
              <div class="post-cats" *ngIf="post.categories.length > 0;else noCategories">
                <span class="post-cat" *ngFor="let category of post.categories">{{category}}</span>
              </div>
        <h5 class="card-title">{{post?.title}}</h5>
        <p class="card-text" [innerHTML]="post.desc | safe:'html'"></p>
        <a [routerLink]="['/post/' + post._id]" class="btn btn-primary">Read more</a>
      </div>
      <div class="card-footer text-body-secondary">
        <span class="post-date">{{post?.createdAt | date}}</span>
      </div>
    </div>
  </div>
</div>


<ng-template #noCategories>
  <div class="post-cats">
    <span class="post-cat">No categories</span>
  </div>
</ng-template>
